@page
@model NuevoHotel.Pages.Salones.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Salon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Salon.CodigoSalon" />
            <div class="form-group">
                <label asp-for="Salon.NombreSalon" class="control-label"></label>
                <input asp-for="Salon.NombreSalon" class="form-control" />
                <span asp-validation-for="Salon.NombreSalon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salon.Capacidad" class="control-label"></label>
                <input asp-for="Salon.Capacidad" class="form-control" />
                <span asp-validation-for="Salon.Capacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salon.PrecioHora" class="control-label"></label>
                <input asp-for="Salon.PrecioHora" class="form-control" />
                <span asp-validation-for="Salon.PrecioHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salon.Estado" class="control-label"></label>
                <input asp-for="Salon.Estado" class="form-control" />
                <span asp-validation-for="Salon.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img asp-append-version="true" src="~/img/camisas/@Model.Salon.SalonImg" alt="Alternate Text" width="70" />
                <br />
                <label asp-for="SalonImg" class="control-label"></label>
                <input asp-for="SalonImg" class="form-control" />
                <span asp-validation-for="SalonImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}